<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ddswez.lpf.myapplication" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".swipeListView.BtnAndImgOnClick"
            android:label="@string/title_activity_btn_and_img_on_click" >
        </activity>
        <activity
            android:name=".activity.MyViewActivity"
            android:label="@string/title_activity_my_view" >
        </activity>
        <activity
            android:name=".activity.MyPieCharActivity"
            android:label="@string/title_activity_my_view" >
        </activity>
        <activity
            android:name=".swipeListView.RefreshActivity"
            android:label="@string/title_activity_my_view" >
        </activity>
        <activity
            android:name=".activity.InterpolatorActivity"
            android:label="@string/title_activity_interpolator" >
        </activity>
        <activity
            android:name=".piechar.PieCharActivity"
            android:label="@string/title_activity_interpolator" >
        </activity>
        <activity
            android:name=".piechar.PieCharActivity2"
            android:label="@string/title_activity_interpolator" >
        </activity>
        <activity
            android:name=".dashSpinner.DashSpinnerActivity"
            android:label="@string/title_activity_interpolator" >
        </activity>
        <activity android:name=".hack.hack5.TextSwitherActivity" >
        </activity>

        <receiver android:name=".widget.MyWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/example_appwidget_info" />
        </receiver>

        <service android:name=".widget.UpdateWidgetService" />

        <activity
            android:name=".hack.hack7.CancasTestActivity"
            android:label="@string/title_activity_cancas_test" >
        </activity>
        <activity
            android:name=".hack.hack11.Hack11LEDActivity"
            android:label="@string/title_activity_hack11_led" >
        </activity>
        <activity
            android:name=".hack.hack26.Hack26Activity"
            android:label="@string/title_activity_hack11_led" >
        </activity>
        <activity
            android:name=".hack.HackActivity"
            android:label="@string/title_activity_hack" >
        </activity>
        <activity
            android:name=".SideView.SideViewActivity"
            android:label="@string/title_activity_hack" >
        </activity>
    </application>

</manifest>
